
body{
    font: 20px arial serif;
}

.navbar {
    background-color: rgb(76, 150, 86);
}
.quem-somos{
  background-color: rgb(129, 129, 196);  
  color: white;

}
.margin{
        padding-bottom: 50px;

}
.parceiros{
    background-color: orange;
}
.bg-footer{
    background-color: black;
    color: white;
}